.container-table{
    width: 100%;
    padding: 2em;
    z-index: 2;

    table{
        width: 100%;
        border-collapse: collapse;

        td{
            padding: 5px;
            text-align: left;
            border: 1px solid white;
        }
    }
}