.container-btn-add{
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.btn-add{
    position: relative;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: $main-fond;
    border: 1px solid $second-color;
    cursor: pointer;
    z-index: 1;
}

.bulle-add{
    position: absolute;
    top: 0;
    text-align: center;
    font-size: 0.6em;
    opacity: 0;
    z-index: 0;
}