.container-table{
    width: 100%;
    padding: 2em;

    .contain-onglet{
        display: flex;
        flex-direction: row;

        .onglet{
            padding: 1em;
            cursor: pointer;
        }

        .onglet.select{
            background-color: white;
            color: black;
        }
    }

    table{
        width: 100%;
        text-align: left;
        font-size: 0.9em;
        
        th{
            opacity: 0.6;
            font-size: 0.7em;
            background-color: $main-fond;
        }

        tr{
            padding: 10px;
            background-color: $main-fond-light;
            border-radius: 5px;
            height: 2em;
            cursor: pointer;

            &:hover{
                border-bottom: 1px solid white;
            }
        }

        .approuved{
            background-color: rgba(0, 128, 0, 0.2);
        }

        .notapprouved{
            background-color: $error-color;
        }
    }

    .page-admin{
        .contain-btns{
            display: flex;
            justify-content: space-between;
        }
    }
}