$main-fond : #000e11;
$main-fond-light : #001b20;
$main-color : #4BA6A6;
$second-color : #a0743f;
$color-intrigue: rgb(21, 15, 29);
$color-place: #012027;
$color-personnage: #000e11;
$error-color :rgb(116, 17, 17);

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@font-face {
    font-family: "OldLondon";
    src: local("OldLondon"),
     url("./assets/fonts/Old-London/OldLondon.ttf") format("truetype");
    }
    
$title-font : 'OldLondon';
$text-font : 'Merriweather', serif;
$sans-serif : 'Arya', sans-serif;

//reinitializer
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.App{
    background-color: $main-fond;
    font-family: $text-font;
    color: white;
    text-align: center;
    min-height: 100vh;
    position: relative;

    .titles{
        position: absolute;
        right: 2em;
        top: 1em;
        color: $second-color;
        font-family: $sans-serif;
        font-weight: bolder;
        text-transform: uppercase;
        text-align: right;
    }

    h1{
        position: relative;
        margin-bottom: -0.5em;
    }

    h2{
        opacity: 0.7;
        font-size: 0.8em;
    }

    .background{
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url('./assets/img/background.jpg');
        background-position: center;    
        background-size: cover;
        top: 0;
        left: 0;
        opacity: 0.1;
        z-index:0;
    }
}


.contain-pioches{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    gap: 100px;
    padding-top: 10%;
    z-index:1;
}

.container-ideas{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    grid-gap: 10px;
    padding: 30px
}

footer{
    font-size: 0.5em;
    color: $second-color;
    position: absolute;
    bottom:5px;
    left:5px;
}

@import './admin.scss';

@import './components/containIdea.scss';
@import './components/BoutonAdd.scss';
@import './components/PopupAdd.scss';

@import './mobile.scss';